{% extends "app/home.html" %}
{% block title %}Contact{% endblock %}

{% block content %}

<h1>Contactame</h1>

<p>Si tienes alguna pregunta o comentario, no dudes en contactarme a través del siguiente formulario</p>
<form method="post">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
    
</form>
{% if messages %}
{% for message in messages %}
    <div style="padding:10px; background:#d4edda; color:#155724; border-radius:5px; margin-bottom:10px; align-items: center;">
        {{ message }}
    </div>
{% endfor %}
{% endif %}
{% endblock %}